{% load static %}
<!--================Header Menu Area =================-->
<header class="main_menu_area">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="{% static 'img/logo.jpg' %}" style="height: 40px; width: 40px; border-radius: 50%;" alt=""> 

            {% if user.is_authenticated %}
                {{ user.admission_number}}
            {% else %}
                Guest.
            {% endif %}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="/Assignments/home">Assignments</a></li>
                <li class="nav-item"><a class="nav-link" href="">Notes</a></li>
                <li class="nav-item"><a class="nav-link" href="">Students</a></li>
                <li class="nav-item"><a class="nav-link" href="">Portfolio</a></li>
                <li class="nav-item"><a class="nav-link" href="/Blog/">Blog</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login'  %}">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'register'  %}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
<!--================End Header Menu Area =================-->