{% extends "account/base.html" %}
{% load static %}
{% block content %}
<!--================Header Menu Area =================-->
{% include "account/navbar.html" %}
<section class="banner_area">
    <div class="container">
        <div class="banner_inner_text">
            <h2>Register</h2>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            {% if form.errors %}
                <p class="alert alert-warning">
                    Please correct the error{{ form.errors|pluralize }} below.
                </p>
            {% endif %}
            <form action="" method="post" class="contact_us_form row" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-group col-lg-6">
                    <input type="email" class="form-control" placeholder="Email" name="email" maxlength="254" required id="id_email">
                </div>
                <div class="form-group col-lg-6">
                    <input type="text" class="form-control" placeholder="Full Name" name="full_name" maxlength="254" id="id_full_name">
                </div>
                <div class="form-group col-lg-6">
                    <input type="text" class="form-control" placeholder="Admission Number" name="admission_number" maxlength="254" id="id_admission_number">
                </div>
                <div class="form-group col-lg-6">
                    <input type="text" class="form-control" placeholder="University" name="university" maxlength="254" id="id_university">
                </div>
                <div class="form-group col-lg-6">
                    <input type="text" class="form-control" placeholder="Username" name="username" maxlength="254" id="id_username">
                </div>
                <div class="form-group col-lg-6">
                    <input type="text" class="form-control" placeholder="Phone Number" name="phone_number" maxlength="254" id="id_phone_number">
                </div>
                <div class="form-group col-lg-12">
                    <input type="password" class="form-control"  name="password1" required id="id_password1" placeholder="Password">
                </div>
                <div class="form-group col-lg-12">
                    <input type="password" class="form-control" name="password2" required id="id_password2" placeholder="Confirm Password">
                </div>
                <div class="form-group  col-lg-12">
                    <button type="submit" value="submit" class="btn submit_btn form-control">Register</button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div class="feature_item">
                <img style="height: 100%; width: 100%;" src="{% static 'img/service-bg.jpg' %}" alt="image">
            </div>
        </div>
    </div>
</div>
<!--================Footer Area =================-->
<footer class="footr_area">
        <div class="footer_widget_area">
            <div class="container">
                <div class="row footer_widget_inner">
                    <div class="col-lg-4 col-sm-6">
                        <aside class="f_widget f_about_widget">
                            <img src="{% static 'img/logo.jpg' %}" style="height: 40px; width: 40px; border-radius: 50%;" alt="">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque aperiam, qu</p>
                        </aside>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <aside class="f_widget f_insta_widget">
                            <div class="f_title">
                                <h3>Instagram</h3>
                            </div>
                            <ul>
                                <li><a href="#"><img src="{% static 'img/instagram/ins-1.jpg' %}" alt=""></a></li>
                                <li><a href="#"><img src="{% static 'img/instagram/ins-2.jpg' %}" alt=""></a></li>
                                <li><a href="#"><img src="{% static 'img/instagram/ins-3.jpg' %}" alt=""></a></li>
                                <li><a href="#"><img src="{% static 'img/instagram/ins-4.jpg' %}" alt=""></a></li>
                                <li><a href="#"><img src="{% static 'img/instagram/ins-5.jpg' %}" alt=""></a></li>
                                <li><a href="#"><img src="{% static 'img/instagram/ins-6.jpg' %}" alt=""></a></li>
                                <li><a href="#"><img src="{% static 'img/instagram/ins-7.jpg' %}" alt=""></a></li>
                                <li><a href="#"><img src="{% static 'img/instagram/ins-8.jpg' %}" alt=""></a></li>
                            </ul>
                        </aside>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <aside class="f_widget f_subs_widget">
                            <div class="f_title">
                                <h3>Subscribe to newsletter</h3>
                            </div>
                            <div class="input-group">
                                <form action="" method="post">
                                    <input type="text" class="form-control" placeholder="Your e-mail address here"
                                        aria-label="Your e-mail address here">
                                    <span class="input-group-btn">
                                        <button class="btn btn-secondary submit_btn" type="button">Subscribe</button>
                                    </span>
                                </form>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_copyright">
            <div class="container">
                <div class="float-sm-left">
                    <h5>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved
                        <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="http://al-masi.com"
                            target="_blank">Vendetter Boy</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </h5>
                </div>
                <div class="float-sm-right">
                    <ul>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--================End Footer Area =================-->
<!-- <form action="" method="post">
        {% csrf_token %} {{ form.as_p}}
    <button type="submit">Register</button>
</form> -->

<!-- Email: <input type="email" name="email" maxlength="254" required id="id_email"> -->
<!-- Full name: <input type="text" name="full_name" maxlength="254" id="id_full_name"> -->
<!-- Admission number: <input type="text" name="admission_number" maxlength="254" id="id_admission_number"> -->
<!-- University: <input type="text" name="university" maxlength="254" id="id_university"> -->
<!-- Username: <input type="text" name="username" maxlength="254" id="id_username"> -->
<!-- Phone number: <input type="text" name="phone_number" maxlength="254" id="id_phone_number"> -->
<!-- Password: <input type="password" name="password1" required id="id_password1">
Confirm Password: <input type="password" name="password2" required id="id_password2"> -->

{% endblock %}