{% extends "account/base.html" %}
{% load static %}
{% block content %}
<!--================Header Menu Area =================-->
{% include "account/dashboardnav.html" %}
{% if user.is_authenticated %}
<style>
    #transparent{
        background: url("{% static 'img/service-bg.jpg' %}");
        background-position: center;
        background-attachment: fixed;
        height: 100%;
        width: 100%;
        opacity: .8;
    }
</style>
<section class="banner_area">
    <div class="container">
        <div class="banner_inner_text">
            <h5>Welcome {{ user.username}} From: {{ user.university }}</h5>
            <a href="/Assignments/submitions" class="btn btn-info btn-sm">Submit Assignment</a>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>Adm No.</td>
                        <td>Unit</td>
                        <td>Assignment type</td>
                        <td>Date Submitted</td>
                   </tr>
                </thead>
                
                {% for assignment in assignments %}
                <tr>
                    <td>{{ assignment.admission_number }}</td>
                    <td>{{ assignment.unit_name }}</td>
                    <td>{{ assignment.type_of_assignment }}</td>
                    <td>{{ assignment.date|timesince }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-md-6">
            <div class="feature_item" id="transparent">
                <h4>You Had Logged In With The Following:</h4>
                <h5>Email: {{ user.email}}</h5>
                <h5>Username: {{ user.username}}</h5>
                <h5>Full Name: {{ user.full_name}}</h5>
                <h5>Adm No: {{ user.admission_number}}</h5>
                <h5>University: {{ user.university }}</h5>
                <h5>Phone Number: {{ user.phone_number}}</h5>
            </div>
        </div>
    </div>
</div>
{% else %}
<section class="banner_area">
    <div class="container">
        <div class="banner_inner_text">
            <h5>You Need To Log in Or Register To View This Resource</h5>
        </div>
    </div>
</section>

{% endif %}
<!--================Footer Area =================-->
<footer class="footr_area">       
        <div class="footer_copyright">
            <div class="container">
                <div class="float-sm-left">
                    <h5>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved
                        <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="http://al-masi.com"
                            target="_blank">Vendetter Boy</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </h5>
                </div>
                <div class="float-sm-right">
                    <ul>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--================End Footer Area =================-->
{% endblock %}