{% extends "account/base.html" %}
{% load static %}
{% block content %}
<!--================Header Menu Area =================-->
{% include "account/dashboardnav.html" %}
{% if user.is_authenticated %}
<style>
    #transparent{
        background: url("{% static 'img/service-bg.jpg' %}");
        background-position: center;
        background-attachment: fixed;
        height: 100%;
        width: 100%;
        opacity: .8;
    }
</style>
<section class="banner_area">
    <div class="container">
        <div class="banner_inner_text">
            <h5>Welcome {{ user.username}} From: {{ user.university }}</h5>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form action="." method="POST" class="contact_us_form row" enctype="multipart/form-data">
                {% csrf_token %} 
                <div class="form-group col-lg-6">
                    <select name="type_of_assignment" class="form-control">
                        <option>Type Of The Assignment</option>
                        <option>Cat 1</option>
                        <option>Cat 2</option>
                        <option>Class Assignment</option>
                        <option>Reports</option>
                    </select>
                </div>
                <div class="form-group col-lg-6">
                    <select name="unit_name" class="form-control">
                        <option>Unit</option>
                        <option>COM211:Software Engineering</option>
                    </select>
                </div>
                <div class="form-group col-lg-6">
                    <input type="text" hidden value="{{ user.full_name}}" name="full_name" placeholder="Full Name" class="form-control" id="full_name" required>
                </div>
                <div class="form-group col-lg-6">
                    <input type="text" hidden value="{{ user.admission_number}}" name="admission_number" placeholder="Admission Number" class="form-control" id="admission_number" required>
                </div>
                <div class="form-group col-lg-6">
                    <input type="text" hidden value="{{ user.university }}" name="university" placeholder="University" class="form-control" id="university" required>
                </div>
                <div class="form-group col-lg-6">
                    <input type="text" hidden value="{{ user.phone_number}}" name="phone_number" placeholder="Phone Number" class="form-control" id="phone_number" required>
                </div>
                <div class="form-group col-lg-6">
                    <input type="file" name="file_name" class="form-control" id="id_file_name">
                </div>
                <div class="form-group  col-lg-6">
                    <button type="submit" value="submit" class="btn submit_btn form-control">submit</button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div class="feature_item" id="transparent">
                <h4>You Had Logged In With The Following:</h4>
                <h5>Email: {{ user.email}}</h5>
                <h5>Username: {{ user.username}}</h5>
                <h5>Full Name: {{ user.full_name}}</h5>
                <h5>Adm No: {{ user.admission_number}}</h5>
                <h5>University: {{ user.university }}</h5>
                <h5>Phone Number: {{ user.phone_number}}</h5>
            </div>
        </div>
    </div>
</div>
{% else %}
<section class="banner_area">
    <div class="container">
        <div class="banner_inner_text">
            <h5>You Need To Log in Or Register To View This Resource</h5>
        </div>
    </div>
</section>

{% endif %}
<!--================Footer Area =================-->
    <footer class="footr_area">
        <div class="footer_copyright">
            <div class="container">
                <div class="float-sm-left">
                    <h5>
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved
                        <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="http://al-masi.com"
                            target="_blank">Vendetter Boy</a>
                    </h5>
                </div>
                <div class="float-sm-right">
                    <ul>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- {{ form.as_p}} -->
    <!--================End Footer Area =================-->
{% endblock %}